@media only screen and (max-width: 1600px) {
    html {
      background-color: lightblue;
    }
}
@media only screen and (max-width: 600px) {
    html {
      background-color: lightblue;
    }
}
h1{
    text-align: center;
    color: orange;
}
.länkar{
    width: 20%;
    margin: auto;
    padding: 40px;
     
}
.länkar ul li a{
    text-decoration: none;
    color: black;
    }
    .länkar ul li a:visited{
        color:grey;
    }
    .länkar ul li a:hover { 
        color: black;

    }