@charset "UTF-8";


html, body, nav, header, main, footer, div {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: white;
    color: #000000;
    background-image: url(bilder/background.jpg);
    background-size: 150%;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto 150px minmax(300px,650px) 300px auto;
    grid-template-rows: 250px auto 80px;
    grid-template-areas:
        "header header header header header"
        ".nav    main   aside."
        "footer footer footer footer footer";
}

nav {
    grid-area: nav;
    font-size: 20px;
    font-weight: bold;
    background-color: pink;

}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: flex;
    padding: 10px;
}

nav a:link, nav a:visited {
    color: purple;
}

nav a:hover, nav a:active {
    background-color: none;
    text-decoration: underline;
    color: grey;
    
}

header {
    grid-area: header;
    background-color: white;
    background-image: url(bilder/banner.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    padding: 0;
}

main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

aside {
    grid-area: aside;
    font-size: 20px;
    background-color: pink;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-image: url(bilder/footer.jpg);
    background-size: cover;
    background-color: pink;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }